{% extends '::baseF.html.twig' %}
{% block body %}




    <section class="page-section cta">
    <div class="container">
    <div class="row">
    <div class="col-xl-9 mx-auto">

        <div class="cta-inner text-center rounded">


        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <h2 class="section-heading mb-5">
                        <span class="section-heading-upper">  Meubles </span>
                        <span class="section-heading-lower">Les Articles</span>

                    </h2>
                    <div class="panel-body">
                        <div class="bootstrap-table">
                            <script src="{{ asset('tempt/js/jquery-1.11.1.min.js') }}"></script>

                            <div class="pull-center search">
                                <input id ="search"class="form-control" type="search" placeholder="                                                                           Chercher                     "></th>

                                <form>
                                    <br>
                                    <div class="fixed-table-container">

                                        <div class="fixed-table-body">

                                            <table id="type" sort-name="name" data-sort-order="desc" class="table table-hover">
                                                <thead>
                                                <tr class="no-records-found">
                                                    <td colspan="4">libelle</td>
                                                    <td colspan="4">prix</td>
                                                    <td colspan="4">image</td>
                                                    <td colspan="4">date</td>
                                                    <td colspan="4">type</td>
                                                    <td colspan="4">Quantite</td>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                {% for don in Dons %}

                                                    <tr class="no-records-found">
                                                        <td colspan="4">{{ don.libelle | upper }}</td>

                                                        <td colspan="4">{{ don.prix }} DT</td>
                                                        <td colspan="4"><img src ="{{ asset('uploads/images/'~don.image ) }}" height="100px" width="250px"> </td>
                                                        <td colspan="4">{{ don.date|date("m-d-y")}}</td>
                                                        <td colspan="4">{{ don.stock.type}}</td>
                                                        <td colspan="4"> {% if don.quantite > 3 %}

                                                                <h4 class=" alert alert-success"> {{"ON STOCKS" }}</h4>
                                                        <td  >
                                                            <a  href="{{path('AchatAdd',{'id':don.id})}}"  >
                                                                Achat en ligne
                                                                <div >    </div></a>


                                                        </td>
                                                                  {% else %}
                                                                <h4 class=" alert alert-danger">{{ "OFF STOCKS" }}</h4>

                                                            {% endif %} </td>






                                                    </tr>

                                                {% endfor %}
                                                </tbody>
                                            </table>

                                        </div>

                                    </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>



        </div><!--/.col-->
    </div><!--/.row-->
    </div>
        </div>
        </div>
    </section>
    <script>
        $(document).ready(function(){
            $('#search').keyup(function(){
                search_table($(this).val());
            });
            function search_table(value){
                $('#type tbody tr').each(function(){
                    var found = 'false';
                    $(this).each(function(){
                        if($(this).text().toLowerCase().indexOf(value.toLowerCase()) >= 0)
                        {
                            found = 'true';
                        }
                    });
                    if(found == 'true')
                    {
                        $(this).show();

                    }
                    else
                    {
                        $(this).hide();

                    }
                });
            }
        });
    </script>

{% endblock %}