{% extends '::base.html.twig' %}
{% block body %}

    <div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
        <div class="row">
            <ol class="breadcrumb">
                <li><a href="#"><svg class="glyph stroked home"><use xlink:href="#stroked-home"></use></svg></a></li>
                <li class="active">Icons</li>
            </ol>
        </div><!--/.row-->
        <div class="row">
            {{ form_start(form) }}

            <div class="col-lg-12">
                <div class="panel panel-default">
                        <div class="panel-heading">Modifier   </div>
                    <div class="panel-body">
                        <div class="col-md-6">
                            <form role="form">

                                <div class="form-group">
                                    <label>Libelle :</label>
                                    {{ form_widget(form.libelle, {'attr': { 'class' : 'form-control' , 'style': 'width:450px;','placeholder':"Libelle....."}}) }}
                                    <label>Quantite :</label>

                                    {{ form_widget(form.quantite, {'attr': { 'class' : 'form-control' , 'style': 'width:550px;','type':'number','min':'0','step':'1','pattern':'\d='}}) }}
                                    <label>Prix :</label>

                                    {{ form_widget(form.prix, {'attr': { 'class' : 'form-control' , 'style': 'width:550px;'}}) }}
                                    <label>image :</label>


                                    {{ form_widget(form.image, {'attr': { 'type':"file" }}) }}

                                    <label>Date :</label>

                                    {{ form_widget(form.date, {'attr': { 'class' : 'form-control' , 'style': 'width:550px;'}}) }}

                                    {{ form_errors(form.date) }}
                                    <label>Type de Meuble :</label>

                                    {{ form_widget(form.stock, {'attr': { 'type':"file" ,'class' : 'help-block' , 'style': 'vertical-align: inherit;'}}) }}

                                </div>


                                <button type="submit" class="btn btn-primary">Modifier  Meuble </button>
                            </form>
                        </div>
                    </div>
                </div><!-- /.col-->
                {{ form_end(form) }}

            </div><!-- /.row -->





        </div><!--/.col-->
    </div><!--/.row-->
    </div>	<!--/.main-->
{% endblock %}
